In [6]:
import requests
import sys

import csv
import codecs
import pandas as pd

In [19]:
response = requests.request("GET", "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/london/2020-01-01/2024-06-04?unitGroup=metric&include=days&key=P5BAF43ZWPV23V6ET3C2D8TGD&contentType=csv")
if response.status_code!=200:
  print('Unexpected Status code: ', response.status_code)
  sys.exit()

In [20]:


# Parse the results as CSV
london_csv = csv.reader(response.text.splitlines(), delimiter=',',quotechar='"')

In [21]:
london_list = list(london_csv)

# Create a DataFrame
df_london = pd.DataFrame(london_list[1:], columns=london_list[0])

In [22]:
df_london

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,"London, England, United Kingdom",2020-01-01,7,2.7,5.4,6.5,1.4,4.5,3.6,88.2,...,0.7,0,,2020-01-01T08:06:17,2020-01-01T16:01:35,0.2,"Rain, Overcast",Cloudy skies throughout the day with morning r...,rain,"03769099999,03680099999,D5621,03672099999,0378..."
1,"London, England, United Kingdom",2020-01-02,10.6,7,8.9,10.6,4.9,8,6.7,85.7,...,1.1,1,,2020-01-02T08:06:11,2020-01-02T16:02:38,0.23,"Rain, Overcast",Cloudy skies throughout the day with afternoon...,rain,"03769099999,03680099999,D5621,03672099999,0378..."
2,"London, England, United Kingdom",2020-01-03,10.6,5.6,8.7,10.6,3.1,7.3,5.4,80.2,...,1,1,,2020-01-03T08:06:02,2020-01-03T16:03:44,0.25,"Rain, Partially cloudy",Partly cloudy throughout the day with rain in ...,rain,"03769099999,03680099999,D5621,03672099999,0378..."
3,"London, England, United Kingdom",2020-01-04,8.6,4,6.6,6.8,1.3,4,3.1,78.4,...,1.3,1,,2020-01-04T08:05:49,2020-01-04T16:04:53,0.3,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"03769099999,03680099999,D5621,03672099999,0378..."
4,"London, England, United Kingdom",2020-01-05,9,6.6,7.9,6.5,4.2,5.6,4.7,80.1,...,0.9,1,,2020-01-05T08:05:34,2020-01-05T16:06:04,0.33,Overcast,Cloudy skies throughout the day.,cloudy,"03769099999,03680099999,D5621,03672099999,0378..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1612,"London, England, United Kingdom",2024-05-31,21.8,12.1,16.9,21.8,12.1,16.9,8.7,60.5,...,26.4,8,10,2024-05-31T04:49:36,2024-05-31T21:07:44,0.78,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,
1613,"London, England, United Kingdom",2024-06-01,21.2,10.3,15.9,21.2,10.3,15.9,8,60.6,...,23.4,7,10,2024-06-01T04:48:48,2024-06-01T21:08:49,0.82,Overcast,Cloudy skies throughout the day.,cloudy,
1614,"London, England, United Kingdom",2024-06-02,19.9,12.1,15.5,19.9,12.1,15.5,7.7,61.8,...,22.8,7,10,2024-06-02T04:48:03,2024-06-02T21:09:51,0.85,"Rain, Partially cloudy",Partly cloudy throughout the day with afternoo...,rain,
1615,"London, England, United Kingdom",2024-06-03,17.3,10.5,13.9,17.3,10.5,13.9,6.6,63.4,...,25.8,8,10,2024-06-03T04:47:21,2024-06-03T21:10:52,0.89,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,
1616,"London, England, United Kingdom",2024-06-04,19.3,10.2,14.3,19.3,10.2,14.3,7.8,67.5,...,27.9,8,10,2024-06-04T04:46:42,2024-06-04T21:11:50,0.93,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,

In [29]:
response = requests.request("GET", "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/belgrade/2014-01-01/2024-06-04?unitGroup=metric&include=days&key=P5BAF43ZWPV23V6ET3C2D8TGD&contentType=csv")
if response.status_code!=200:
  print('Unexpected Status code: ', response.status_code)
  sys.exit()

In [30]:
belgrade_csv = csv.reader(response.text.splitlines(), delimiter=',',quotechar='"')
belgrade_list = list(belgrade_csv)

# Create a DataFrame
df_belgrade = pd.DataFrame(belgrade_list[1:], columns=belgrade_list[0])

In [31]:
df_belgrade['name'] = 'Belgrade, Serbia'

In [33]:
df_belgrade.to_csv('belgrade_weather_2014-2024.csv')