In [1]:
import requests
import sys
import os
import csv
import codecs
import pandas as pd

### London, United Kingdom dataframe 2014-2024 - NORTHERN

In [43]:
response = requests.request("GET", "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/london/2014-01-01/2024-05-20?unitGroup=metric&include=days&key=P5BAF43ZWPV23V6ET3C2D8TGD&contentType=csv")
if response.status_code!=200:
  print('Unexpected Status code: ', response.status_code)
  sys.exit()

In [44]:
# Parse the results as CSV
london_csv = csv.reader(response.text.splitlines(), delimiter=',',quotechar='"')

In [45]:
london_list = list(london_csv)
# Create a DataFrame
df_london = pd.DataFrame(london_list[1:], columns=london_list[0])

In [46]:
df_london.head()

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,"London, England, United Kingdom",2014-01-01,11.6,6.7,9.1,11.6,3.6,7,6.7,84.8,...,0.5,0,,2014-01-01T08:06:14,2014-01-01T16:02:04,0,"Rain, Partially cloudy",Partly cloudy throughout the day with a chance...,rain,"03769099999,EGWU,03680099999,03768399999,03672..."
1,"London, England, United Kingdom",2014-01-02,11,6.6,9.1,11,3.6,7.2,6,81,...,3.3,2,,2014-01-02T08:06:07,2014-01-02T16:03:08,0.03,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"03769099999,03680099999,03672099999,0378109999..."
2,"London, England, United Kingdom",2014-01-03,10.6,7.3,9,10.6,3.2,6.5,5.1,76.8,...,2.8,2,,2014-01-03T08:05:56,2014-01-03T16:04:16,0.07,"Rain, Partially cloudy",Partly cloudy throughout the day with a chance...,rain,"03769099999,03680099999,03672099999,0378109999..."
3,"London, England, United Kingdom",2014-01-04,10.1,4.5,8,10.1,2,5.1,5.2,82.4,...,1.4,1,,2014-01-04T08:05:42,2014-01-04T16:05:25,0.1,"Rain, Partially cloudy",Partly cloudy throughout the day with a chance...,rain,"03769099999,03680099999,03672099999,0378109999..."
4,"London, England, United Kingdom",2014-01-05,12,1.8,6,12,-0.9,3.6,3.9,85.9,...,2.6,2,,2014-01-05T08:05:24,2014-01-05T16:06:38,0.14,"Rain, Partially cloudy",Partly cloudy throughout the day with rain.,rain,"03769099999,03680099999,03672099999,0378109999..."

In [47]:
# Define the path
folder_path = r'C:\Users\nicol\OneDrive\Master\Goldsmiths\Thesis\weather-prediction\.data'
file_name = 'london_weather_2014-2024.csv'
full_path = os.path.join(folder_path, file_name)

# Save the DataFrame to the specified path
df_london.to_csv(full_path)

###  Bujanovac, Serbia 2014-2024 - NORTHERN

In [4]:
response = requests.request("GET", "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/bujanovac/2014-01-01/2024-05-20?unitGroup=metric&include=days&key=P5BAF43ZWPV23V6ET3C2D8TGD&contentType=csv")
if response.status_code!=200:
  print('Unexpected Status code: ', response.status_code)
  sys.exit()

In [5]:
bujanovac_csv = csv.reader(response.text.splitlines(), delimiter=',',quotechar='"')
bujanovac_list = list(bujanovac_csv)

# Create a DataFrame
df_bujanovac = pd.DataFrame(bujanovac_list[1:], columns=bujanovac_list[0])

In [6]:
df_bujanovac['name'] = 'Bujanovac, Serbia'

In [7]:
# Define the path
folder_path = r'C:\Users\nicol\OneDrive\Master\Goldsmiths\Thesis\weather-prediction\.data'
file_name = 'bujanovac_weather_2014-2024.csv'
full_path = os.path.join(folder_path, file_name)

# Save the DataFrame to the specified path
df_bujanovac.to_csv(full_path)

In [1]:
#for classification N vs S you don't need the features, just the target (new created column that says if northern or southern), the location and the time
#classification done with sktime

In [ ]:
#pull in data for all locations 
#eda 

#classification
#one hot encoding
#baseline for all locations for all models 
#is the weather more predictable in the northern or the southern hemisphere 
# four locations

### Manila, Phillipines - NORTHERN

In [52]:
response = requests.request("GET", "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/manila/2014-01-01/2024-05-20?unitGroup=metric&include=days&key=P5BAF43ZWPV23V6ET3C2D8TGD&contentType=csv")
if response.status_code!=200:
  print('Unexpected Status code: ', response.status_code)
  sys.exit()

In [53]:
manila_csv = csv.reader(response.text.splitlines(), delimiter=',',quotechar='"')
manila_list = list(manila_csv)

# Create a DataFrame
df_manila = pd.DataFrame(manila_list[1:], columns=manila_list[0])

In [54]:
df_manila['name'] = 'Manila, Phillipines'

In [55]:
# Define the path
folder_path = r'C:\Users\nicol\OneDrive\Master\Goldsmiths\Thesis\weather-prediction\.data'
file_name = 'manila_weather_2014-2024.csv'
full_path = os.path.join(folder_path, file_name)

# Save the DataFrame to the specified path
df_manila.to_csv(full_path)

### Brisbane, Australia 2014-2024 - SOUTHERN

In [68]:
response = requests.request("GET", "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/brisbane/2014-01-01/2024-05-20?unitGroup=metric&include=days&key=P5BAF43ZWPV23V6ET3C2D8TGD&contentType=csv")
if response.status_code!=200:
  print('Unexpected Status code: ', response.status_code)
  sys.exit()

In [69]:
brisbane_csv = csv.reader(response.text.splitlines(), delimiter=',',quotechar='"')
brisbane_list = list(brisbane_csv)

# Create a DataFrame
df_brisbane = pd.DataFrame(brisbane_list[1:], columns=brisbane_list[0])

In [70]:
df_brisbane['name'] = 'Brisbane, Australia'

In [71]:
# Define the path
folder_path = r'C:\Users\nicol\OneDrive\Master\Goldsmiths\Thesis\weather-prediction\.data'
file_name = 'brisbane_weather_2014-2024.csv'
full_path = os.path.join(folder_path, file_name)

# Save the DataFrame to the specified path
df_brisbane.to_csv(full_path)

### Buenos Aires, Argentina 2014 - 2024 - SHOUTERN

In [72]:
response = requests.request("GET", "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/buenos-aires/2014-01-01/2024-05-20?unitGroup=metric&include=days&key=P5BAF43ZWPV23V6ET3C2D8TGD&contentType=csv")
if response.status_code!=200:
  print('Unexpected Status code: ', response.status_code)
  sys.exit()

In [73]:
buenosaires_csv = csv.reader(response.text.splitlines(), delimiter=',',quotechar='"')
buenosaires_list = list(buenosaires_csv)

# Create a DataFrame
df_buenosaires = pd.DataFrame(buenosaires_list[1:], columns=buenosaires_list[0])

In [74]:
df_buenosaires['name'] = 'Buenos Aires, Argentina'

In [76]:
# Define the path
folder_path = r'C:\Users\nicol\OneDrive\Master\Goldsmiths\Thesis\weather-prediction\.data'
file_name = 'buenosaires_weather_2014-2024.csv'
full_path = os.path.join(folder_path, file_name)

# Save the DataFrame to the specified path
df_buenosaires.to_csv(full_path)

### Lagos, Nigeria dataframe 2014-2024 - NORTHERN

In [2]:
response = requests.request("GET", "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/lagos/2014-01-01/2024-05-20?unitGroup=metric&include=days&key=P5BAF43ZWPV23V6ET3C2D8TGD&contentType=csv")
if response.status_code!=200:
  print('Unexpected Status code: ', response.status_code)
  sys.exit()

In [3]:
# Parse the results as CSV
lagos_csv = csv.reader(response.text.splitlines(), delimiter=',',quotechar='"')

In [5]:
lagos_list = list(lagos_csv)
# Create a DataFrame
df_lagos = pd.DataFrame(lagos_list[1:], columns=lagos_list[0])

In [6]:
df_lagos.head()

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,"Lagos, Nigeria",2014-01-01,32,23,27.9,37.9,23,31.1,23.2,76,...,17.2,7,,2014-01-01T06:57:21,2014-01-01T18:42:39,0,"Rain, Partially cloudy",Partly cloudy throughout the day with early mo...,rain,"65210099999,DNMM,remote,65201099999"
1,"Lagos, Nigeria",2014-01-02,30.5,23.8,26.1,36.2,23.8,27.4,22.1,79.3,...,19.1,8,,2014-01-02T06:57:47,2014-01-02T18:43:09,0.03,"Rain, Partially cloudy",Partly cloudy throughout the day with late aft...,rain,"65210099999,65213099999,DNMM,65201099999"
2,"Lagos, Nigeria",2014-01-03,32.8,24,27.2,41.9,24,30,24.6,86.9,...,16.6,7,,2014-01-03T06:58:11,2014-01-03T18:43:40,0.07,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"65210099999,DNMM,65201099999"
3,"Lagos, Nigeria",2014-01-04,32.5,23,26.7,38.3,23,28.6,23.1,81.9,...,17.4,7,,2014-01-04T06:58:36,2014-01-04T18:44:11,0.1,"Rain, Partially cloudy",Partly cloudy throughout the day with morning ...,rain,"65210099999,DNMM,remote,65201099999"
4,"Lagos, Nigeria",2014-01-05,31,22,26.1,37.7,22,27.9,22.1,79.1,...,18.7,8,,2014-01-05T06:58:59,2014-01-05T18:44:41,0.14,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"65210099999,DNMM,65201099999"

In [7]:
# Define the path
folder_path = r'C:\Users\nicol\OneDrive\Master\Goldsmiths\Thesis\weather-prediction\data'
file_name = 'lagos_weather_2014-2024.csv'
full_path = os.path.join(folder_path, file_name)

# Save the DataFrame to the specified path
df_lagos.to_csv(full_path)

## Lima, Peru dataframe - SOUTHERN

In [8]:
response = requests.request("GET", "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/lima/2014-01-01/2024-05-20?unitGroup=metric&include=days&key=P5BAF43ZWPV23V6ET3C2D8TGD&contentType=csv")
if response.status_code!=200:
  print('Unexpected Status code: ', response.status_code)
  sys.exit()

In [9]:
# Parse the results as CSV
lima_csv = csv.reader(response.text.splitlines(), delimiter=',',quotechar='"')

In [10]:
lima_list = list(lima_csv)
# Create a DataFrame
df_lima = pd.DataFrame(lima_list[1:], columns=lima_list[0])

In [13]:
df_lima.head()

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,"Lima, PerÃº",2014-01-01,25,19,21.4,25,19,21.4,18.3,82.7,...,17.8,6,,2014-01-01T05:47:15,2014-01-01T18:36:13,0,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,SPIM
1,"Lima, PerÃº",2014-01-02,25,19,21.6,25,19,21.6,18.6,83.6,...,23.3,9,,2014-01-02T05:47:48,2014-01-02T18:36:35,0.04,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,SPIM
2,"Lima, PerÃº",2014-01-03,25,20,21.5,25,20,21.5,18.5,83.4,...,25.7,10,,2014-01-03T05:48:22,2014-01-03T18:36:57,0.08,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"SPIM,remote"
3,"Lima, PerÃº",2014-01-04,24,20,21.4,24,20,21.4,18.8,85.5,...,23.5,10,,2014-01-04T05:48:55,2014-01-04T18:37:17,0.11,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,SPIM
4,"Lima, PerÃº",2014-01-05,25,20,22.1,25,20,22.1,19.2,83.8,...,23.7,9,,2014-01-05T05:49:29,2014-01-05T18:37:37,0.14,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"SPIM,remote"

In [14]:
# Define the path
folder_path = r'C:\Users\nicol\OneDrive\Master\Goldsmiths\Thesis\weather-prediction\data'
file_name = 'lima_weather_2014-2024.csv'
full_path = os.path.join(folder_path, file_name)

# Save the DataFrame to the specified path
df_lima.to_csv(full_path)